<div class="modal-header">
  <h3>Новый приёмник</h3>
</div>

<div class="modal-body">
  <form class="form-search">
    <div class="dropdown">
      <div class="input-append controls">
        <input
          type="text"
          name="tag"
          class="input-xlarge search-query"
          ng-model="query.url"
          ng-change="query.correctURL()"
          placeholder="Адрес накопителя"/>
        <button
          class="btn dropdown-toggle"
          ng-class="{disabled: !servers.list.length}">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-show="servers.list.length">
          <li ng-repeat="url in servers.list">
            <a href="" ng-click="servers.select(url)" ng-bind="url"></a>
          </li>
        </ul>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        ng-click="query.find()">
        <i class="icon-search icon-white"></i>
      </button>
    </div>
  </form>
  <div class="alert alert-info" ng-show="query.inProgress">
    Поиск профилей...
  </div>
  <div class="alert alert-block" ng-show="profiles.invalidServer">
    <h4>Не похоже на накопитель</h4>
    {{profiles.error}}
  </div>
  <div class="alert alert-block" ng-show="profiles.noProfiles">
    <h4>Профили не настроены</h4>
  </div>
  <div
    class="alert alert-error alert-block"
    ng-show="profiles.error && !profiles.invalidServer">
    <h4>Ошибка</h4>
    {{profiles.error}}
  </div>
  <div class=""></div>
  <select
    size="7"
    ng-model="profiles.selected"
    ng-options="p.id as p.name group by p.provider.name for p in profiles.list"
    ng-show="profiles.list.length">
  </select>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createReceiver()">Добавить</button>
  <button class="btn" ng-click="cancel()">Отмена</button>
</div>
