<div class="container-fluid" ng-controller="RfReceiversCtrl">
  <h1>Приёмники тегов</h1>

  <div class="accordion" ng-show="receivers.list.length">
    <div ng-repeat="receiver in receivers.list">
      <div class="accordion-group" ng-controller="RfReceiverCtrl">
        <div class="accordion-heading">
          <div class="accordion-toggle" ng-click="toggle()">
            <span class="pull-right">{{receiver.getStatus()}}</span>
            {{receiver.getName()}}
          </div>
        </div>
        <div class="accordion-body" collapse="isCollapsed()">
          <div class="accordion-inner container-fluid">
            <p>
              <dl class="dl-horizontal">
                <dt>Адрес накопителя</dt>
                <dd>{{receiver.remoteURL}}</dd>
                <dt>Состояние</dt>
                <dd>{{receiver.getStatus()}}</dd>
                <dt ng-show="receiver.error">Ошибка</dt>
                <dd ng-show="receiver.error">{{receiver.error}}</dd>
                <dt ng-show="!receiver.error && receiver.cause">Ошибка</dt>
                <dt ng-show="receiver.error && receiver.cause">Причина</dt>
                <dd ng-show="receiver.cause">
                  <pre>{{receiver.cause}}</pre>
                </dd>
              </dl>
            </p>

            <div class="btn-group pull-right" ng-hide="receiver.active">
              <button
                class="btn btn-primary"
                ng-click="start()"
                ng-disabled="updating">
                Запустить
              </button>
              <button
                class="btn btn-danger"
                ng-click="del()"
                ng-disabled="updating">
                &#4030;&nbsp;Удалить
              </button>
            </div>

            <div class="btn-group pull-right" ng-show="receiver.active">
              <button
                class="btn btn-warning"
                ng-click="stop()"
                ng-disabled="updating">
                Остановить
              </button>
              <button
                class="btn btn-danger"
                ng-click="del()"
                ng-disabled="updating">
                &#4030;&nbsp;Удалить
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal"
    ng-controller="NewRfReceiverCtrl"
    id="newReceiverForm"
    name="newReceiverForm"
    ng-submit="create()">
    <fieldset>
      <legend>Новый приёмник</legend>

      <div
        class="control-group"
        ng-class="{error: newReceiverForm.remoteURL.$dirty && newReceiverForm.remoteURL.$invalid}">
        <label class="control-label" for="remoteURL">
          Адрес накопителя
        </label>
        <div class="controls">
          <input
            type="text"
            name="remoteURL"
            placeholder="Адрес накопителя"
            ng-model="newReceiver.remoteURL"
            required
            ng-trim="true"
            ng-change="correctRemoteURL()"
            ng-disabled="updating">
          <span
            class="help-inline"
            ng-show="newReceiverForm.remoteURL.$dirty && newReceiverForm.remoteURL.$error.required">
            адрес обязателен
          </span>
        </div>
      </div>
    </fieldset>

    <div
      class="control-group">
      <div class="controls">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            type="submit"
            ng-disabled="updating">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
