body {
  padding-top: 42px;
}
.navbar .brand {
  float: right;
}

#notifier {
  position: fixed;
  top: 48px;
  right: 28px;
  background: transparent;
  width: auto;
  height: auto;
  z-index: 1;
}

.deleted {
  text-decoration: line-through;
}
