<div class="modal-header">
  <h3>Удалить профиль?</h3>
</div>

<div class="modal-body">
  <div class="alert alert-block alert-error" ng-show="error">
    <h4>Не удалось удалить профиль</h4>
    {{error}}
  </div>
  <p class="lead">Удаление профиля невозможно отменить</p>
  <dl class="dl-horizontal">
    <dt>Профиль</dt>
    <dd>{{profileName}}</dd>
  </dl>
</div>

<div class="modal-footer">
  <button
    class="btn btn-danger"
    ng-click="deleteProfile()"
    ng-diabled="deleting"
    ng-hide="receiver">
    Удалить
  </button>
  <button class="btn" ng-click="$dismiss()">Отмена</button>
</div>
