<div class="container-fluid" ng-controller="RfCollectorsCtrl">
  <h1>Накопители тегов</h1>

  <accordion close-others="true">
    <accordion-group
      ng-repeat="collector in collectors.list"
      heading="{{collector.getName()}}">
    </accordion-group>
  </accordion>

  <form
    class="form-horizontal"
    ng-controller="NewRfCollectorCtrl"
    name="newCollectorForm"
    ng-submit="create()">
    <fieldset>
      <legend>Новый накопитель</legend>

      <div
        class="control-group"
        ng-class="{error: !newCollectorForm.remoteURL.$valid}">
        <label class="control-label" for="remoteURL">
          Адрес накопителя
        </label>
        <div class="controls">
          <input
            type="text"
            name="remoteURL"
            placeholder="Адрес накопителя"
            ng-model="newCollector.remoteURL"
            required
            ng-trim="true"
            ng-change="correctRemoteURL()">
          <span
            class="help-inline"
            ng-show="newCollectorForm.remoteURL.$error.required">
            адрес обязателен
          </span>
        </div>
      </div>

    </fieldset>

    <div class="btn-group">
      <button class="btn btn-primary" type="submit">
        Добавить
      </button>
    </div>
  </form>

</div>
