<div class="container-fluid" ng-controller="RfTagsCtrl">
<div class="row-fluid">
  <div class="span3">
    <form name="queryForm">
      <legend>Поиск тегов</legend>
      <fieldset class="form-search">
        <div class="input-append controls">
          <input
            type="text"
            name="tag"
            class="input-medium search-query"
            ng-model="query.tag"
            placeholder="Тег">
          <span
            class="add-on"
            title="Все теги"
            ng-click="query.resetTag()">
            <i class="icon-remove"></i>
          </span>
          <button
            type="submit"
            class="btn btn-primary"
            ng-class="{disabled: query.inProgress}"
            ng-click="searchIfNotStarted()">
            <i class="icon-search icon-white"></i>
          </button>
        </div>
      </fieldset>
      <hr/>
      <label>Приёмник</label>
      <div class="input-append controls">
        <select
          class=""
          ng-model="query.receiver"
          ng-options="r.id as receiverName(r) for r in receivers.list"
          ng-change="query.newSearch()">
          <option label="" value=""/>
        </select>
        <button
          class="btn"
          title="Все приёмники"
          ng-click="query.resetReceiver()">
          <i class="icon-remove"></i>
        </button>
      </div>
      <label>Начиная с...</label>
      <div class="input-append controls">
        <input
          type="text"
          class="input-large"
          datepicker-popup="yyyy-MM-dd"
          ng-model="query.since.date"
          is-open="query.since.dateOpened"
          max="'2015-06-22'"
          starting-day="1"
          ng-readonly="true"/>
        <button class="btn" ng-click="query.since.openDate()">
          <i class="icon-calendar"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="span9" ng-hide="query.searchResults">
    <div class="hero-unit">
      <h1>Поиск тегов</h1>
      <p>Укажите параметры поиска.</p>
    </div>
  </div>

  <div class="span9" ng-show="noResults()">
    <div class="alert alert-info alert-block">
      <h4>Ничего не найдено</h4>
      Попробуйте уточнить параметры поиска.
    </div>
  </div>

  <div class="span9" ng-show="tags.events.length">
    <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Время</th>
        <th>Приёмник</th>
        <th>Тег</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in tags.events">
        <td><span
          class="clickable"
          ng-click="query.setSince(event.timestamp)"
          ng-bind="event.timestamp|timestamp">
        </span></td>
        <td><span
            class="clickable"
            ng-class="{deleted: event.receiver.deleted}"
            ng-click="query.setReceiver(event.receiver.id)"
            ng-bind="receiverName(event.receiver)">
        </span></td>
        <td><span
          class="label clickable"
          ng-class="{'label-success': event.appeared, 'label-important': !event.appeared}"
          ng-click="query.setTag(event.tag)"
          ng-bind="event.tag">
        </span></td>
      </tr>
    </tbody>
    </table>
    <div ng-hide="hidePagination()">
      <pagination
        class="pagination-centered"
        total-items="tags.totalCount"
        page="query.page"
        items-per-page="query.pageSize"
        max-size="9"
        boundary-links="true"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
        on-select-page="query.setPage(page)">
      </pagination>
    </div>
  </div>
</div>
</div>
