<div class="container-fluid" ng-controller="RfStoresCtrl">
  <h1>Хранилища тегов</h1>

  <div class="accordion" ng-show="stores.list.length">
    <div ng-repeat="store in stores.list">
      <div class="accordion-group" ng-controller="RfStoreCtrl">
        <div class="accordion-heading">
          <div class="accordion-toggle" ng-click="toggle()">
            <span class="pull-right">{{store.getStatus()}}</span>
            {{store.getName()}}
          </div>
        </div>
        <div
          class="accordion-body"
          collapse="isCollapsed()">
          <div class="accordion-inner container-fluid">
            <p>
              <dl class="dl-horizontal">
                <dt>Адрес накопителя</dt>
                <dd>{{store.remoteURL}}</dd>
                <dt>Состояние</dt>
                <dd>{{store.getStatus()}}</dd>
                <dt ng-show="store.error">Ошибка</dt>
                <dd ng-show="store.error">{{store.error}}</dd>
                <dt ng-show="!store.error && store.cause">Ошибка</dt>
                <dt ng-show="store.error && store.cause">Причина</dt>
                <dd ng-show="store.cause">
                  <code><pre>{{store.cause}}</pre></code>
                </dd>
              </dl>
            </p>
          </div>
          <div class="btn-group pull-right">
            <button
              class="btn btn-primary"
              ng-click="start()"
              ng-disabled="updating"
              ng-hide="store.active">
              Запустить
            </button>
            <button
              class="btn btn-warning"
              ng-click="stop()"
              ng-disabled="updating"
              ng-show="store.active">
              Остановить
            </button>
            <button
              class="btn btn-danger"
              ng-click="del()"
              ng-disabled="updating">
              &#4030;&nbsp;Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal"
    ng-controller="NewRfStoreCtrl"
    id="newStoreForm"
    name="newStoreForm"
    ng-submit="create()">
    <fieldset>
      <legend>Новое хранилище</legend>

      <div
        class="control-group"
        ng-class="{error: newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$invalid}">
        <label class="control-label" for="remoteURL">
          Адрес накопителя
        </label>
        <div class="controls">
          <input
            type="text"
            name="remoteURL"
            placeholder="Адрес накопителя"
            ng-model="newStore.remoteURL"
            required
            ng-trim="true"
            ng-change="correctRemoteURL()"
            ng-disabled="updating">
          <span
            class="help-inline"
            ng-show="newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$error.required">
            адрес обязателен
          </span>
        </div>
      </div>
    </fieldset>

    <div
      class="control-group">
      <div class="controls">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            type="submit"
            ng-disabled="updating">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
