<div class="container-fluid" ng-controller="RfStoresCtrl">
  <h1>Хранилища тегов</h1>

  <accordion>
    <accordion-group
      ng-repeat="store in stores.list"
      heading="">
      <accordion-heading>
        <span class="pull-right">{{store.getStatus()}}</span>
        {{store.getName()}}
      </accordion-heading>
      <div ng-controller="RfStoreCtrl" class="container-fluid">
        <p>
          <dl class="dl-horizontal">
            <dt>Состояние</dt>
            <dd>{{store.getStatus()}}</dd>
            <dt ng-show="store.error">Ошибка</dt>
            <dd ng-show="store.error">{{store.error}}</dd>
            <dt ng-show="!store.error && store.cause">Ошибка</dt>
            <dt ng-show="store.error && store.cause">Причина</dt>
            <dd ng-show="store.cause">
              <code><pre>{{store.cause}}</pre></code>
            </dd>
          </dl>
        </p>
        <div class="btn-group pull-right">
          <button class="btn btn-danger" ng-click="del()">
            &#4030;&nbsp;Удалить
          </button>
        </div>
      </div>
    </accordion-group>
  </accordion>

  <form
    class="form-horizontal"
    ng-controller="NewRfStoreCtrl"
    id="newStoreForm"
    name="newStoreForm"
    ng-submit="create()">
    <fieldset>
      <legend>Новое хранилище</legend>

      <div
        class="control-group"
        ng-class="{error: newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$invalid}">
        <label class="control-label" for="remoteURL">
          Адрес накопителя
        </label>
        <div class="controls">
          <input
            type="text"
            name="remoteURL"
            placeholder="Адрес накопителя"
            ng-model="newStore.remoteURL"
            required
            ng-trim="true"
            ng-change="correctRemoteURL()"
            ng-disabled="updating">
          <span
            class="help-inline"
            ng-show="newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$error.required">
            адрес обязателен
          </span>
        </div>
      </div>
    </fieldset>

    <div
      class="control-group">
      <div class="controls">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            type="submit"
            ng-disabled="updating">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
