<div class="container-fluid" ng-controller="RfStoresCtrl">
  <h1>Хранилища тегов</h1>

  <accordion close-others="true">
    <accordion-group
      ng-repeat="store in stores.list"
      heading="{{store.getName()}}">
    </accordion-group>
  </accordion>

  <form
    class="form-horizontal"
    ng-controller="NewRfStoreCtrl"
    name="newStoreForm"
    ng-submit="create()">
    <fieldset>
      <legend>Новое хранилище</legend>

      <div
        class="control-group"
        ng-class="{error: newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$invalid}">
        <label class="control-label" for="remoteURL">
          Адрес накопителя
        </label>
        <div class="controls">
          <input
            type="text"
            name="remoteURL"
            placeholder="Адрес накопителя"
            ng-model="newStore.remoteURL"
            required
            ng-trim="true"
            ng-change="correctRemoteURL()">
          <span
            class="help-inline"
            ng-show="newStoreForm.remoteURL.$dirty && newStoreForm.remoteURL.$error.required">
            адрес обязателен
          </span>
        </div>
      </div>
    </fieldset>

    <div
      class="control-group">
      <div class="controls">
        <div class="btn-group">
          <button class="btn btn-primary" type="submit">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
